.intro {
  background: linear-gradient(
    90deg,
    rgba(0, 184, 255, 1) 0%,
    rgba(250, 202, 0, 0.8491771708683473) 53%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
